<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Vinyl</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" href="/albums">Albums
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav navbar-right">
    <% if (locals.session.user) { %>
      <li class="nav-item active">
          <a class="nav-link" href="/users/<%= locals.session.user %>">Profile</a>
      </li>
      <li class="nav-item active">
          <form class="signout-form" action="/sign-out" method="post">
              <button class="nav-link btn-info" type="submit">Sign Out</button>
          </form>
      </li>
    <% } else { %>  
      <li class="nav-item active">
          <a class="nav-link" href="/sign-in">Sign In</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="/sign-up">Sign Up</a>
      </li>
    <% } %>
    </ul>
  </div>
</nav>